using System;
using System.Collections.Generic;
using System.Runtime.Serialization;

namespace Skates
{
    [Serializable]
    class Client : ISerializable
    {
        private string name;
        private int id;

        public Client() { }
        public Client(string name, int id)
        {
            Name = name;
            if (id < 0)
                throw new ArgumentOutOfRangeException("Id is not correct!");
            this.id = id;
        }

        public Client(SerializationInfo info, StreamingContext content)
        {
            this.name = (string)info.GetValue("Name", typeof(string));
            this.id = (int)info.GetValue("Id", typeof(int));
        }

        public void GetObjectData(SerializationInfo info, StreamingContext content)
        {
            info.AddValue("Name", this.name);
            info.AddValue("Id", this.id);
        }

        public string Name
        {
            get 
            {
                return name; 
            }
            set
            {
                name = value; 
            }
        }

        public int Id
        {
            get
            {
                return id; 
            }
        }
    }
}
